alabaster==0.7.12
atomicwrites==1.3.0
attrs==19.3.0
Babel==2.7.0
backcall==0.1.0
bleach==3.1.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
cycler==0.10.0
Cython==0.29.13
decorator==4.4.0
defusedxml==0.6.0
docutils==0.15.2
elephant==0.6.3
entrypoints==0.3
flake8==3.7.8
h5py==2.10.0
idna==2.8
imagesize==1.1.0
importlib-metadata==0.23
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isosplit5==0.1.3
jedi==0.15.1
Jinja2==2.10.3
joblib==0.14.0
jp-proxy-widget==1.0.1
jsonschema==3.1.1
jupyter-client==5.3.4
jupyter-core==4.6.0
kiwisolver==1.1.0
klusta==3.0.16
klustakwik2==0.2.7
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
MEArec==1.3.6
MEAutility==1.3.3
mistune==0.8.4
ml-ms4alg==0.3.2
more-itertools==7.2.0
mountainlab-pytools==0.7.5
nbconvert==5.6.0
nbformat==4.4.0
neo==0.8.0
networkx==2.3
notebook==6.0.1
numpy==1.17.2
numpydoc==0.9.1
packaging==19.2
pandas==0.25.1
pandocfilters==1.4.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
pkg-resources==0.0.0
pluggy==0.13.0
prometheus-client==0.7.1
prompt-toolkit==2.0.10
ptyprocess==0.6.0
py==1.8.0
pybind11==2.4.3
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.2
pyparsing==2.4.2
PyQt5==5.13.1
PyQt5-sip==12.7.0
pyrsistent==0.15.4
pytest==5.2.1
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.1.2
pyzmq==18.1.0
quantities==0.12.3
requests==2.22.0
scikit-learn==0.21.3
scipy==1.3.1
Send2Trash==1.5.0
six==1.12.0
sklearn==0.0
snowballstemmer==2.0.0
Sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
spikeextractors==0.7.0
spikely==0.6.3
spikemetrics==0.1.2
spikesorters==0.2.0
spiketoolkit==0.5.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.3
tqdm==4.36.1
traitlets==4.3.3
urllib3==1.25.6
vdom==0.6
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==0.6.0
